.jumbotron {
background: #532F8C;
color: white;
padding-bottom: 80px; }
.jumbotron .btn-primary {
background: #845ac7;
border-color: #845ac7; }
.jumbotron .btn-primary:hover {
background: #7646c1; }
.jumbotron p {
color: #d9ccee;
max-width: 75%;
margin: 1em auto 2em; }
.navbar + .jumbotron {
margin-top: -20px; }
.jumbotron .lang-logo {
display: block;
background: #B01302;
border-radius: 50%;
overflow: hidden;
width: 100px;
height: 100px;
margin: auto;
border: 2px solid white; }
.jumbotron .lang-logo img {
max-width: 100%; }

#mixedId { height: 800px}
#ndpId { height: 800px}

.info {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}
.info h4 {
margin: 0 0 5px;
color: #777;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
  width:100%;
}

#Mixed {background-color: white;}
#Liberal {background-color: white;}
#Conservative {background-color: white;}
#NDP {background-color: white;}